body{
    display: grid;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* liner gradient background*/
    background: linear-gradient(85deg, rgb(0, 171, 194), rgb(0, 149, 168));
    padding: 20px;
    color: white;
    font-size: 1.2em;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.algo-container{
    display: grid;

}

.algo-container>li{
    background-color: none  ;
    display: grid;
    justify-content: center;
    max-width: 55em;

}
.algo-container>li>main{
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    justify-self: center;
}

.algo-container>li>main>section{
    padding-bottom: 50px;
    border-bottom: dashed 1px rgba(0, 0, 0, 0.459);
}

.instructions{
    display: grid;
    margin-top: 20px;
    row-gap: 10px;

}

.instructions>li{
    background-color: whitesmoke;
    /* background: linear-gradient(85deg, rgb(0, 171, 194), rgb(0, 149, 168));
    color: white; */
    padding: 10px;
    border-radius: 5px;

}