<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Arrays</h1>

    <ul>
        <li>
            <h2>Two Number sum.</h2>
            <p>Create a function that takes in an array of distinct integers and an integer representing a target sum. The function should return an array containing any two numbers from the input array that sum up to the target sum. If no two numbers sum up to the target sum, the function should return an empty array.</p>
            <p>Make a list of numbers. Then, pick two numbers from the list that add up to a certain number. If you can’t find two numbers that add up to that number, then you don’t have any numbers on your list.</p>
            <h3>Sample Input</h3>
            <button onclick="twoNumberSumLoop([3, 5, -4, 8, 11, 1, -1, 6], 10)">[3, 5, -4, 8, 11, 1, -1, 6], Traget = 10</button>
            <button onclick="twoNumberSumLoop([4, 6], 10 )">[4, 6], Traget = 10</button>
            <button onclick="twoNumberSumLoop([4, 6, 1], 5)">[4, 6, 1], Target = 5 </button>

        </li>
    </ul>

    
</body>
</html>